.ad_top {
  width: $page_width;
  margin: 0 auto;
  position: relative;
  text-align: center;
  .banner {
    width: $page_width;
    height: 0px;
    background: url(../images/ad_top1.png) center top no-repeat;
    a {
      width: $page_width;
      height: 80px;
      display: block;
      text-indent: -9999px;
      margin: 0 auto;
    }
    span {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: 575px;
      width: 25px;
      height: 16px;
      background: url(../images/topclose.png) no-repeat center center;
      cursor: pointer;
      text-indent: -9999px;
    }
  }
}

.banner_big {
  width: $page_width;
  height: 450px;
  background: url(http://004.sfimg.cn/web/4f58d2bc/4f58d2bcc204a18276a1523545a9e05f.jpg) center top no-repeat;
  z-index: 50px;
}
