#louti {
  width: 46px;
  position: fixed;
  right: 105px;
  bottom: 20px;
  z-index: 10000;
  li {
    float: left;
    margin-top: 6px;
    @include border(1px, gray);
    @include border-radius(13px);
    text-align: center;
    background: #fff;
    a {
      font-size: 16px;
      width: 44px;
      height: 44px;
      line-height: 22px;
      padding: 2px 0;
      color: $page_fontcolor;
    }
  }
}
