.salesection_goods {
  width: $page_width;
  height: 470px;
  margin: 0 auto;
  margin-top: 30px;
  // overflow: hidden;
  .common_buybtn {
    top: 161px;
    margin: 0px;
  }
  .goods_left {
    float: left;
    width: 250px;
    overflow: hidden;
  }
  .goods_leftTop {
    width: 240px;
    height: 50px;
    background: #76ac25;
    float: right;
    color: #fff;
    @include border-corner-radius(top, left, 5px);
    .goods_leftTop1 {
      height: 50px;
      line-height: 50px;
      font-weight: normal;
      font-size: 16px;
      em {
        background: url(../images/index_icon_new.png) no-repeat -97px -295px;
        width: 15px;
        height: 16px;
        float: left;
        margin: 16px 8px 0 75px;
      }
      a {
        color: #fff;
      }
      &:hover {
        background: #83b933;
        color: #fff;
        @include border-corner-radius(top, left, 5px);
      }
    }
  }
}
.goods_leftBot {
  width: 250px;
  height: 420px;
  overflow: hidden;
}

.goods_right {
  float: left;
  width: 950px;
  position: relative;
  overflow: hidden;
  @include border_top(1px, #adcd7c);
  .goods_rightLeft {
    padding: 7px 10px 5px 10px;
    width: 710px;
    @include border_bot(1px, #f4f4f4);
    float: left;
  }
}
.sg_ul {
  .sg_list {
    width: 160px;
    padding: 8px;
    float: left;
    position: relative;
  }

  .sg_img {
    margin-bottom: 10px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
    &:hover .common_buybtn {
      top: 136px;
    }
    img {
      width: 160px;
      height: 160px;
      position: absolute;
    }
  }
  .sg_title {
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    a {
      color: #666666;
    }
  }
  .sg_price {
    font-size: 14px;
    margin-left: 0;
    padding-top: 6px;
    span {
      color: $goods_price;
      font-weight: bold;
      i {
        font-size: 12px;
      }
    }
  }
}
.goods_rightRight {
  width: 220px;
  height: 469px;
  float: left;
  background: #f4f4f4;
  overflow: hidden;
  .gr_top {
    margin: 25px 0 0 15px;
    height: 189px;
    float: left;
    overflow: hidden;
    li {
      color: #333333;
      margin: 4px;
      width: 55px;
      height: 55px;
      text-align: center;
      line-height: 55px;
      float: left;
      font-size: 12px;
      overflow: hidden;
      cursor: pointer;
      background: #fff;
      @include border-radius(50%);
      &:hover {
        color: #fff;
        background: $a_fontcolor;
      }
    }
  }
  .gr_bot {
    margin-top: 25px;
    float: left;
    position: relative;
    &:hover a {
      background: url(../images/index_icon_new.png) no-repeat -204px -33px;
    }
    img {
      width: 220px;
      height: 230px;
      cursor: pointer;
    }
    a {
      margin: -166px 0 0 15px;
      background: url(../images/index_icon_new.png) no-repeat -204px 0px;
      width: 25px;
      height: 25px;
      top: 225px;
      left: 0px;
      position: absolute;
    }
  }
}
.fruit {
}
