@charset "utf-8"; //设置中文编码
$page_width: 1200px;
$page_container: 100%;
$page_fontcolor: #666666;
$a_fontcolor: #669900;
$h2_fontfamily: Microsoft YaHei;
$goods_price: #f33f00;

@import "compass/reset";
@import "compass/css3";
//body默认颜色和字体
body {
  min-width: 1200px;
  color: $page_fontcolor;
  font: 12px/150% Arial, Verdana, "宋体";
}
//万能清除法
.clear:after {
  content: "";
  height: 0px;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
a {
  text-decoration: none;
}

//鼠标入时的效果一
@mixin nav_hover1($shadow: gray, $bg_color: #fff) {
  box-shadow: 0px 0px 4px -2px $shadow;
  background: $bg_color;
}
//模块边框(四个边)
@mixin border($width: 1px, $bg_color: #e8e8e8) {
  border: $width solid $bg_color;
}
//模块边框(左边)
@mixin border_left($width: 1px, $bg_color: #e8e8e8) {
  border-left: $width solid $bg_color;
}
//模块边框(右边)
@mixin border_right($width: 1px, $bg_color: #e8e8e8) {
  border-right: $width solid $bg_color;
}
//模块边框(上边)
@mixin border_top($width: 1px, $bg_color: #e8e8e8) {
  border-top: $width solid $bg_color;
}
//模块边框(下边)
@mixin border_bot($width: 1px, $bg_color: #e8e8e8) {
  border-bottom: $width solid $bg_color;
}

//动态隐藏广告
@import "ad_top";
//头部导航
@import "nav_header";
//头部搜索购物
@import "header";
//商品分类导航
@import "nav_main";
//轮播图区域
@import "banner_main";
//两侧广告
@import "ad_aside";
//优选必买
@import "salesection";
//广告位1
@import "ad1";
//水果蔬菜
@import "salesection_goods_fruit";
//肉类海鲜
@import "seafood";
//粮油干货
@import "oils";
//休闲糖巧
@import "candy";
//为你推荐
@import "recom";
//已经没有了
@import "promoto_end";
//热门晒单
@import "hotspot";
//全球美食广告
@import "ad_bot";
//底部链接
@import "footer";
//楼梯
@import "louti";
